* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    
    
}

.logo {
   background-color: #ddd;
   padding-left: 50px;
   padding-top: 8px;
   border-radius: 30PX;
   border: 1px solid #ff7b00;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ff7b00;
}


.main {
    text-align: center;
    padding: 80px 20px;
    background: #000;
    color: #fff;
}

.main h1 {
    font-size: 40px;
    color: #ff7b00;
}

.main p {
    margin-top: 15px;
    font-size: 18px;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    background: #ff7b00;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #ffa447;
}


.courses {
    padding: 60px 40px;
    text-align: center;
    background: #fff;
}

.courses h2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #111;
}

.course-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.course-card {
    width: 280px;           
    background: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    border: 2px solid #ff7b00;
}

.course-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}


.course-card h3 {
    color: #ff7b00;
    margin-bottom: 10px;
}

.course-card p {
    margin-bottom: 15px;
    color: #ddd;
}

.course-card button {
    padding: 8px 20px;
    border: none;
    background: #ff7b00;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}

.course-card button:hover {
    background: #ffa447;
}


footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background: #111;
}

footer a {
    margin: 0 10px;
    color: #ff7b00;
    font-size: 22px;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}


@media (max-width: 600px) {

    
    header {
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }

    .logo {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        width: fit-content;
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li a {
        font-size: 18px;
    }


    
    .main {
        padding: 60px 20px;
    }

    .main h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .main p {
        font-size: 16px;
    }

    .btn {
        width: 100%;
        padding: 12px;
        font-size: 17px;
    }



    .courses {
        padding: 40px 20px;
    }

    .course-container {
        flex-direction: column;
        gap: 25px;
    }

    .course-card {
        width: 100%;
        padding: 20px;
    }

    .course-logo {
        width: 65px;
        height: 65px;
    }


    
    footer a {
        font-size: 20px;
        margin: 0 8px;
    }
}

